<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('/css/flags.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300"
                  rel="stylesheet" type="text/css">
            <style>
                body {
                    font-family: 'Open Sans', sans-serif;
                }

                .flag {
                    background-image: url({{ asset('/img/flags.png') }}) !important;
                }
            </style>
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container">
        {% block header %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
                    <h1>{% block header_title %}{% endblock %}</h1>
                    <a href="{{ path('fs_verify_index') }}">
                        <img src="{{ asset('/img/logo.png') }}"
                             alt="{{ 'img.logo'|trans }}">
                    </a>
                    <div class="flags">
                        <a href="?_locale=ca_ES" class="flag flag-ca_ES"></a>
                        <a href="?_locale=en_GB" class="flag flag-en_GB"></a>
                        <a href="?_locale=es_ES" class="flag flag-es_ES"></a>
                        <a href="?_locale=fr_FR" class="flag flag-fr_FR"></a>
                    </div>
                    <hr>
                </div>
            </div>
        {% endblock %}
        {% block container %}
        {% endblock %}
    </div>

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{{ asset('/js/fileselect.js') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>
