{% extends 'base.html.twig' %}

{% block header_title %}{{ 'verify.title'|trans }}{% endblock %}

{% block container %}
    <div class="row">
        {% include 'error.html.twig' %}
        {% if valid is defined %}
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <div class="alert alert-{{ valid ? 'success' : 'warning' }}">
                    {% if valid %}
                        <b>{{ 'verify.valid.true.success'|trans }}</b> {{ 'verify.valid.true.message'|trans }}
                    {% else %}
                        <b>{{ 'verify.valid.false.warning'|trans }}</b> {{ 'verify.valid.false.message'|trans }}
                        <hr>
                        {{ 'verify.valid.false.hint'|trans|raw }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <form action="{{ path('fs_verify_post') }}" method="POST"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label>{{ 'verify.form.file.title'|trans }}</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                {{ 'verify.browse'|trans }}
                                <input type="file" name="file"
                                       style="display: none;">
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <p class="help-block">{{ 'verify.form.file.help'|trans }}</p>
                </div>

                <div class="form-group">
                    <label>{{ 'verify.form.sign.title'|trans }}</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                {{ 'verify.browse'|trans }}
                                <input type="file" name="sign"
                                       style="display: none;">
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <p class="help-block">{{ 'verify.form.sign.help'|trans }}</p>
                </div>


                <button type="submit" class="btn btn-primary btn-block">
                    {{ 'verify.form.submit'|trans }}
                </button>
            </form>

            <hr>
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
            <h2>{{ 'verify.faq.title'|trans }}</h2>
            <div class="panel-group" id="accordion" role="tablist"
                 aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading1">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapse1"
                               aria-controls="collapse1">
                                {{ 'verify.faq.q1.question'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body">
                            {{ 'verify.faq.q1.response'|trans }}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapse2"
                               aria-controls="collapse2">
                                {{ 'verify.faq.q2.question'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body">
                            {{ 'verify.faq.q2.response'|trans }}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading3">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapse3"
                               aria-controls="collapse3">
                                {{ 'verify.faq.q3.question'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="heading3">
                        <div class="panel-body">
                            {{ 'verify.faq.q3.response'|trans({'%href%': path('fs_public_key')})|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}